*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(221, 221, 221);
    font-size: 5rem;
    font-family: 'Rubik', sans-serif;
    color: rgb(221, 221, 221);
}

/* Styling of the containers*/

.outer-clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 239px;
    max-height: 266px;
    height: 40%;
    width: 60%;
    min-width: 800px;
    max-width: 821px;
    background: #006EAD;
    margin: auto;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    padding: .4em;
    border-radius: 20px;
}

.inner-clock-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.time-container{
    background: #45ABE6;
}

.date-container{
    width: 31%;
    display: flex;
    flex-direction: column;
}

.time-container{
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date-time-bg{
    background: rgb(19, 18, 18);
}

/* Styling of the date-container's children*/

.day, .date, .month{
    height: 33.3333333333%;
    padding: .1em;
    font-size: 3rem;
    text-align: center;
}

/* Styling of the time-container's children*/

.hour, .minute, .second{
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.hour-number, .minute-number, .second-number{
    text-align: center;
}

sub{
    font-size: .25em;
}

.colon{
    color: rgb(0, 0, 0);
}